@using BLL
@model System.Collections.Generic.IList<BLL.Product>

@{
    ViewBag.Title = "Products";
    Layout = "_Layout";
}

<h2>Products</h2>
@foreach (Product product in Model)
    {
        <div class="card">
            <p>Product ID: @product.ProductId</p>
            <p>Product Name: @product.ProductName</p>
        </div>
    }