@using VirtusFitWeb.Controllers;


@{
    ViewData["Title"] = "Fetch a report";
    Layout = "_AdminLayout";
}
<style>
    .btn-info {
        background-color: rgb(28, 92, 51);
        border-color: rgb(28, 92, 51);
    }

    .btn-info:hover {
        background-color: rgb(67, 132, 36);
        border-color: rgb(67, 132, 36);
    }

    .btn-primary:hover {
        background-color: rgb(36, 69, 169);
        border-color: rgb(36, 69, 169);
    }
</style>
<h1>Fetch a report</h1>

<hr />
<div class="row mb-1">
    <a class="btn btn-success" asp-action="FetchAllTimeReport" asp-controller="Reports">All-time report</a>
</div>
<div class="row mb-1">
    <a class="btn btn-success" asp-action="FetchDateSpecifiedReport" asp-controller="Reports">Date-specific report</a>
</div>
<div class="row mb-1">
    <a class="btn btn-success" asp-action="FetchUserReport" asp-controller="Reports">User-specific report</a>
</div>