@{
    ViewData["Title"] = "Administration Panel";
    Layout = "_AdminLayout";
}

<div class="text-center navbar-light">
    <p>Specified user has not been found</p>
</div>

<div class="row">
    <div class="col-md-4">
        <a class="btn btn-info btn-block" asp-action="Index" asp-controller="Reports">Back</a>
    </div>
</div>