@{
    ViewData["Title"] = "Virtus Fit - Force yourself to eat healthy.";
    Layout = "_AdminLayout";
}

<div class="text-center navbar-light">
    <h5 class="navbar-text">Virtus Fit Administration Panel</h5>
    <p></p>
</div>
