@{
    ViewData["Title"] = "Administration Panel";
    Layout = "_AdminLayout";
}

<div class="text-center navbar-light">
    <h5 class="navbar-text">Virtus Fit Administration Panel</h5>
    <p>Operation failed</p>
</div>
