@model BLL.DietPlan

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>You are editing Diet Plan &#8470; @Model.Id</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-antiforgery="true" asp-controller="DietPlan" asp-action="Edit" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="StartDate" class="control-label"></label>
                <input asp-for="StartDate" class="form-control" />
                <span asp-validation-for="StartDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EndDate" class="control-label"></label>
                <input asp-for="EndDate" class="form-control" />
                <span asp-validation-for="EndDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CaloriesPerDay" class="control-label"></label>
                <input asp-for="CaloriesPerDay" class="form-control" />
                <span asp-validation-for="CaloriesPerDay" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-controller="DietPlan" asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
