@model BLL.Product
@using VirtusFitWeb.Controllers;

@{
    ViewData["Title"] = "Delete";
}

<h1>Add</h1>

<h3>Are you sure you want to add @Model.ProductName to favorites?</h3>

<div>
    <form asp-action="AddToFavorites" asp-controller="Favorite" method="post">
        <input type="submit" value="Add" class="btn btn-success" /> |
        <a asp-action="FavoriteList" asp-controller="Favorite">Back to List</a>
    </form>
</div>
